<!DOCTYPE html>
<html>
    <head>
        <title>Add New Contact</title>
        <style>
            body {
                background-color: #E0EAFF;
            }
            .navbar {
                background-color: #E0EAFF;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                font-size: 24px;
                font-weight: bold;
            }
            .sub-navbar {
                background-color: #C0C0C0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 50px;
            }
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .form-group {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
            .form-group label {
                font-weight: bold;
            }
            .form-group input[type="text"],
            .form-group input[type="tel"],
            .form-group input[type="email"] {
                padding: 5px;
                font-size: 16px;
            }
            .photo-container {
                position: relative;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: #C0C0C0;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                overflow: hidden;
            }
            .photo-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
            }
            .photo-container::before {
                content: '+';
                font-size: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
            }
            .file-input {
                display: none;
            }
        </style>
    </head>
    <body>
        <div class="navbar">AlfaSoft</div>
        <div class="sub-navbar">
            <a href="/">Back Home</a>
            <a href="/allContacts">All Contacts</a>
            <a href="/addNew">Add New</a>
        </div>
        <div class="content">
            <h1>Add New Contact</h1>
            <label for="photo" class="photo-container">
                <img id="previewImage" src="#" alt="">
                <input type="file" id="photo" class="file-input" accept="image/*">
            </label>
            <form action="/submitNewContact" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{9}" required>
                <small>Please enter a 9-digit Portuguese phone number.</small>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Add Contact</button>
            </form>
        </div>

        <script>
            const photoInput = document.getElementById('photo');
            const previewImage = document.getElementById('previewImage');
            const form = document.querySelector('form');

            photoInput.addEventListener('change', (e) => {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = (e) => {
                        previewImage.src = e.target.result;
                        previewImage.style.display = 'block';
                        previewImage.style.zIndex = '1';
                    };

                    reader.readAsDataURL(file);
                } else {
                    previewImage.src = '#';
                    previewImage.style.display = 'none';
                    previewImage.style.zIndex = 'initial'; 
                }
            });

            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const firstName = document.getElementById('firstName').value;
                const lastName = document.getElementById('lastName').value;
                const phoneNumber = document.getElementById('phoneNumber').value;
                const email = document.getElementById('email').value;
                const photoFile = document.getElementById('photo').files[0];

                const validEmailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                if (!firstName || !lastName || !phoneNumber || !email || !validEmailPattern.test(email) || !photoFile) {
                    alert('Please fill in all required fields correctly and upload a photograph.');
                    return;
                }

                const byteArray = await readPhotoAsByteArray(photoFile);

                const requestBody = {
                    photo: [...byteArray], 
                    firstName: firstName,
                    secondName: lastName,
                    phoneNumber: phoneNumber,
                    mail: email,
                };

                fetch('/api/addContact', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=UTF-8',
                    },
                    body: JSON.stringify(requestBody),
                })
                .then(response => {
                    if (response.ok) {
                        alert('Contact added successfully!');
                        window.location.href = '/allContacts';
                    } else {
                        alert('Failed to add contact. Please try again later.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while processing your request.');
                });

            });

            function readPhotoAsByteArray(file) {
                return new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const arrayBuffer = e.target.result;
                        const byteArray = new Uint8Array(arrayBuffer);
                        resolve(byteArray);
                    };
                    reader.onerror = (e) => {
                        reject(e);
                    };
                    reader.readAsArrayBuffer(file);
                });
            }

            function validateForm() {
                const firstName = document.getElementById('firstName').value;
                const lastName = document.getElementById('lastName').value;
                const phoneNumber = document.getElementById('phoneNumber').value;
                const email = document.getElementById('email').value;
                const photoFile = document.getElementById('photo').files[0];

                const validEmailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                if (!firstName || !lastName || !phoneNumber || !email || !validEmailPattern.test(email) || !photoFile) {
                    alert('Please fill in all required fields correctly and upload a photograph.');
                    return false; 
                }

                return true; 
            }

        </script>
    </body>
</html>
